body {
    font-family: Arial, sans-serif;
}

#quiz-container {
    margin: 20px auto;
    width: 80%;
}

#question-container {
    margin-bottom: 20px;
}

#submit-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #0056b3;
}

#result-container {
    display: none;
    text-align: center;
    margin-top: 50px;
}
